---
interface Props {
  title: string;
  subtitle: string;
  description: string;
  url: string;
  icon: string;
}

const { title, subtitle, description, url, icon, ...props } = Astro.props;
---

<a href={url} class="py-2">
  <div
    class="flex px-4 -mx-4 space-x-4 py-4 md:rounded-lg hover:text-gray-900 hover:bg-orange-50 group"
  >
    <img width="80" height="80" src={icon} class="rounded-2xl w-16 h-16" />
    <div class="flex-1">
      <div class="text-lg font-semibold group-hover:text-gray-500">
        {title}
      </div>
      <div
        class="font-mono text-sm text-gray-500 group-hover:text-gray-600"
      >
        {subtitle}
      </div>
      <div class="group-hover:text-gray-400">{description}</div>
    </div>
  </div>
</a>
